<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <form action="disease" method="post">
                  <fieldset>
                    <legend>Выбрать пациента</legend>
                    <p><label for="address">Адрес Ethereum<em>*</em></label><input type="text" name="address"></p>
                    <p><label for="key">Private key<em>*</em></label><input type="text" name="key"></p>
                  </fieldset>
                  <p><input type="submit" value="Выбрать"></p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h1>Карточка</h1>
                <p><label>Ethereum: {{userAddress}}</label></p>
                <p><label>Имя: {{firstName}}</label></p>
                <p><label>Фамилия: {{lastName}}</label></p>
                <p><label>Дата рождения: {{dateOfBirth}}</label></p>
            </div>
            <div class="col-4">
                <h1>Болезни</h1>
                {% for disease in diseases %}
                <p><label>Диагноз: {{disease.diagnosis}} Лечение: {{disease.therapy}}</label></p>
                {% endfor %}
            </div>
            <div class="col-4">
                <form action="disease" method="get">
                  <fieldset>
                    <legend>Новая болезнь</legend>
                    <p><label for="address">Адрес Ethereum<em>*</em></label><input type="text" name="address"></p>
                    <p><label for="diagnosis">Диагноз<em>*</em></label><input type="text" name="diagnosis"></p>
                    <p><label for="therapy">Лечение<em>*</em></label><input type="text" name="therapy"></p>
                  </fieldset>
                  <p><input type="submit" value="Отправить"></p>
                </form>
            </div>
        </div>
    </div>
</body>
